<!-- Using Layouts in ejs to avoid use of the same code -->

<!-- importing header file using include keyword -->
<%- include('header') -%>

    <!-- for heading -->
    <div class="box" id="heading">
        <!-- this is how we get dynamic values in ejs from server using <% %> -->
        <h1>
            <%= listTitle %>
        </h1>
    </div>

    <div class="box">
        <% newToDoItem.forEach(function(newToDoItem) { %>
            <form action="/delete" method="post">
                <div class="item">
                    <input type="checkbox" name="checkboxValue" value="<%= newToDoItem._id %>" onChange="this.form.submit()">
                    <p>
                        <%= newToDoItem.name %>
                    </p>
                </div>
                <input type="hidden" name="listItemName" value="<%= listTitle %>">
            </form>
        <% }); %>
        <form class="item" action="/" method="POST">
            <input type="text" name="todoItem" placeholder="Add New Item Here...">
            <button type="submit" name="listTitle" value="<%= listTitle %>">+</button>
        </form>
    </div>

<!-- importing footer file using include keyword -->
<%- include('footer') -%>